<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pagina Administrador - Trabajadores</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/bootstrap.ejs') %>
    <script  src="/javascripts/admin.js"></script>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <script src="https://kit.fontawesome.com/0364c5acb2.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">



</head>
<body>
<nav class="navbar bg-body-tertiary bg-dark " data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h2>Gestionar Empleados</h2>
        </a>
    
        <div style="float: right;">
    
            <i class="fa-solid fa-power-off" style="color: #ffffff;"></i>
            <a href="../users/logout" style="text-decoration: none;color: white;">Cerrar Sesion</a>
        </div>
       
    </div> 
</nav><BR>

   
    <div class="container d-flex justify-content-center">
        <div class="col-8">
          <div class="col-12 m-2 d-flex justify-content-between">
            <div class="d-flex justify-content-center align-items-center">
              <a href="/login" style="text-decoration: none; color: black;"><i class="fa-solid fa-arrow-left"></i> Atras</a>
            </div>
            <div>
              <a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#modalInsert" title="Crear Usuario">
                <i class="fa-solid fa-circle-plus"></i>
              </a>
            </div>
          </div>
          
          <div class="table-responsive">
            <table class="table table-hover m-4" id="workers">
              <thead class="table-primary">
                <tr>
                  <th>Id</th>
                  <th>Usuario</th>
                  <th>Rol</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% worker.forEach((element) => { %>
                <tr>
                  <td><%= element.id %></td>
                  <td><%= element.name %></td>
                  <td><%= element.rol %></td>
                  <td class="<%= element.status %>"><%= element.status %></td>
                  <td>
                    <a href="/admin/getDataWorkers/<%= element.id %>" title="Ver detalles" class="btn btn-primary">
                      <i class="fa-solid fa-eye"></i>
                    </a>
                    <a onclick="updateWorker(<%= element.id %>,'<%= element.name %>', '<%= element.rol %>' )" class="btn btn-success" title="Editar Usuario">
                      <i class="fa-solid fa-pen"></i>
                    </a>
                    <a onclick="confirmAcction(<%= element.id %>, '<%= element.status %>')" title="Inhabilitar Usuario" class="btn btn-danger">
                      <i class="fa-solid fa-circle-minus"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
     <!-- Modal -->
    <div class="modal fade" id="modalInsert" tabindex="-1" aria-labelledby="modalInsertLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalInsertLabel">Crear Nuevo Empleado</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="/admin/createWorker" method="POST">
                      <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="usuario" name="usuario">
                          <label for="floatingInput">Usuario</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input  type="text"  class="form-control" id="password" name="password" value="123" readonly>
                        <label for="floatingInput">Contraseña</label>
                        <small><i>Esta constraseña sera la predeterminada*</i></small>
                    </div>
                     
                      <button type="submit" class="btn btn-primary m-2">Crear Empleado</button>
                      
                  </form>
              </div>
          </div>
        </div>
    </div>

     <!-- Data Tables -->
     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
     <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
     <script>
         //DataTables
           $(document).ready(function () {
             $('#workers').DataTable({
               pageLength: 5,
               lengthMenu: [[5,10,20,-1], [5,10,20,'Todos']],
               language: {
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "No encontrado",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "No hay información",
                    infoFiltered: "(filtrado de _MAX_ total registros)",
                    search: "Buscar:",
                    paginate: {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
                order: [[3, 'asc']],
             });
           
           });
       </script>
</body>
</html>

    
   